@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");
*{
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul{
  list-style-type: none;
}
a{
  color: black;
  text-decoration: none!important;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.2rem;
  font-weight: bold;
}
textarea{
  resize: none;
}
.centriranDrzac{
  text-align: center;
}

/*MENI*/
#gornjiNav{
  width: 100%;
  margin: 0px;
}
#logoLink{
  padding: 5px;
  text-align: center;
  color: black;
}
@media screen and (max-width: 576px) {
  #logoLink h1{
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  #logoLink h1{
    font-size: 2rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  #logoLink h1{
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1200px){
  #logoLink h1{
    font-size: 3rem;
  }
}
#logo{
  width: 200px;
} 
.log{
  padding-top: 30px;
}
.linkL{
  padding: 10px;
}
#donjiNav{
  width: 100%;
  height: 50px;
  margin: 0px;
}
.donjiML{
  background-color: silver;
  text-align: center;
  padding: 10px;
}
.donjiML a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
/*MENI*/

/*LOG IN*/
.greska{
  border: 1px solid red;
}
.loginDrzac{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 3;
  opacity: 0;
}
.pozadina{
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}
.loginDrzac form{
  position: absolute;
  z-index: 6;
  background: #FFFFFF;
  max-width: 360px;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-color: #e6e7e8;
  border: 2px solid #6A6A6A;
}
.formaInput{
  margin: 10px;
}
#capcaInput{
  width: 80px;
}
.loginDrzac form button{
  margin: 5px;
  width: 90px;
  height: 50px;
  background-color: #6A6A6A;
  color: white;
}
/*LOG IN*/

/*CART*/
#cartW{
  display: none;
  position: sticky;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 5;
  opacity: 0;
}
.pozadina{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.7);
}
#cartSad{
  position: absolute;
  z-index: 5;
  background: #FFFFFF;
  max-width: 1000px;
  top: 5%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-color: #e6e7e8;
  border: 2px solid #6A6A6A;
}
#cartSad img{
  width: 100px;
}
.linkCart{
  color: black;
  padding: 8px 8px;
  margin: 10px;
  text-decoration: none;
  background-color: none;
}
.linkCart .active{
  background-color: green;
}
/*CART*/


/*DOCEK*/
@media screen and (max-width: 576px) {
    #glavnaPDrzac{
      width: 100%;
      height: 300px;
      background-image: url("../images/DocekSLika2.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-attachment:fixed;
      text-align: center;
      padding-top: 32px;
    }
    #podlogaDB{
      width: 50%;
      height: 50%;
      float: right;
    }
    #glavnaPDrzac h2{
      font-size: 1.2rem;
      font-weight: 800;
      color: white;
      font-style: italic;
      margin: 20px;
    }
    #podlogaDB a{
      color: white;
    }
    #dugmeDB{
      margin: 0 auto;
      width: 100px;
      height: 50px;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      border: 2px solid white;
    }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
    #glavnaPDrzac{
      width: 100%;
      height: 400px;
      background-image: url("../images/DocekSLika2.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-attachment:fixed;
      text-align: center;
      padding-top: 100px;
    }
    #podlogaDB{
      width: 50%;
      height: 50%;
      float: right;
    }
    #glavnaPDrzac h2{
      font-size: 1.5rem;
      color: white;
      font-style: italic;
      margin: 20px;
    }
    #podlogaDB a{
      color: white;
    }
    #dugmeDB{
      margin: 0 auto;
      width: 100px;
      height: 50px;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      border: 2px solid white;
    }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
    #glavnaPDrzac{
      width: 100%;
      height: 500px;
      background-image: url("../images/DocekSLika2.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-attachment:fixed;
      text-align: center;
      padding-top: 150px;
    }
    #podlogaDB{
      width: 50%;
      height: 50%;
      float: right;
    }
    #glavnaPDrzac h2{
      font-size: 2rem;
      color: white;
      font-style: italic;
      margin: 20px;
    }
    #podlogaDB a{
      color: white;
    }
    #dugmeDB{
      margin: 0 auto;
      width: 100px;
      height: 50px;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      border: 2px solid white;
    }
}
@media screen and (min-width: 1200px){
    #glavnaPDrzac{
      width: 100%;
      height: 600px;
      background-image: url("../images/DocekSLika2.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-attachment:fixed;
      text-align: center;
      padding-top: 200px;
    }
    #podlogaDB{
      width: 50%;
      height: 50%;
      float: right;
    }
    #glavnaPDrzac h2{
      font-size: 2rem;
      color: white;
      font-style: italic;
      margin: 20px;
    }
    #podlogaDB a{
      color: white;
    }
    #dugmeDB{
      margin: 0 auto;
      width: 100px;
      height: 50px;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      border: 2px solid white;
    }  
}
/*DOCEK*/

/*INFO*/
.drzacGlavniDeo{
  width: 100%;
  height: 350px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}
#opisBlok{
  height: 100%;
}
#blok1{
  height: 300px;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  background-image: url("../images/blok1.jpg");
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
  color: red;
  font-style: bold;
}
#tekstBlok1{
  text-align: center;
  padding: 10px; ;
  margin-top: 50px;
}
#drzacInfoSLika{
  height: 400px;
  width: 100%;
  margin-top: 15px;
  background-image: url("../images/infoSlika.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
#karticeDrzac{
  height: 100%;
  padding-top: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 700px) {
  #karticeDrzac{
    height: 700px;
  }
}
@media screen and (min-width: 701px){
  #karticeDrzac{
    height: 100%;
  }
}
.opisBlok{
  width: 100%;
  height: 100px;
  margin-top: 20px;
}
.slikeOpis{
  margin: 0 auto;
}
#porukeBlok{
  height: 350px;
  width: 100%;
  background-image: url(../images/porukaSlika.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 20px;
  text-align: center;
  font-style: bold;
}
#naslovPorukeBloka{
  color: #5a3402;
  font-weight: bold;
  font-size: 2rem;
  margin: 0 auto;
  width: 300px;
  text-shadow: 0 0 10px #c09b85;
}
#porukeBlok input{
  margin: 10px;
  border:2px solid #B6DC93;
}
#porukeBlok textarea{
  margin: 10px;
  border:2px solid #B6DC93; 
}
#porukaPosalji{
  width: 150px;
  height: 50px;
  margin: 0 auto;
  margin-top: 10px;
  color: white;
  font-style: bold;
  border: 3px solid white;
  border-radius: 5;
  background-color: #888888;
}
#proizvodiZaPrikaz{
  margin: auto;
}
/*INFO*/

/*PROIZVODI*/
#drzacProizvoda{
  width: 100%;
}
#proizvodiW{
  background-color: #f1f7ef;
  width: 100%;
  margin: 0px;
  display: flex;
}
#selectori{
  height: 800px;
  padding: 50px;
  text-align: center;
}
@media screen and (max-width: 576px) {
    .proizvod {
        width: 100%;
    }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
    .proizvod {
        width: 100%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
    .proizvod {
        width: 50%;
    }
}
@media screen and (min-width: 1200px){
    .proizvod {
        width: 33%;
    }
}
#proizvodDrop{
  width: 100%;
  height: 50px;
  background-color: #f1f7ef;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 3px solid lightgray;
  font-weight: bold;
}
#searchFiltera{
  width: 100%;
  height: 50px;
  margin-top: 15px;
  border: 3px solid lightgray;
  background-color: #f1f7ef;
}
#proizvodDropSort{
  width: 90%;
  height: 40px;
  background-color: #f1f7ef; 
  border: 1px solid lightgray;
  font-weight: bold;
  text-align: center;
}
#ceneProizvoda{
  text-align: center;
  padding: 20px;
}
#cenaOpseg{
  width: 100%;
  height: 15px;
  color: #A3CD99;
  border: 1px solid #A3CD99;
  margin: auto;
  transition: all 0.3s ease;
  overflow: hidden;
}
.filterPrikaz{
  width: 100%;
  height: 100%;
  padding-top: 20px;
  font-size: 2em;
  text-align: center;
}
@media screen and (max-width: 576px) {
    .filterPrikaz {
        display: none;
    }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
    .filterPrikaz {
        display: none;
    }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
    .filterPrikaz {
        display: none;
    }
}
@media screen and (min-width: 1200px){
    .filterPrikaz {
        display: block;
    }
}
.filterVelicine{
  margin: 15px;
  padding-top: 10px !important;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.cenaLable{
  height: 50px;
  padding-top: 20px;
}
.dugmeSort{
  border: 2px solid black;
  border-radius: 10;
  background-color: #e6e7e8;
  font-weight: bold;
  width: 95%;
  height: 100px;
  margin: 20px;
  font-weight: bold;
  color: black;
  border: 1px solid lightgray;
  box-shadow: 3px 5px 4px #888888;
}
#drzacKartice{
  width: 80%;
}
.drzacProizvoda{
  text-align: center;
  height: 500px;
  width: 300px;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;
  box-shadow: 5px 10px 18px #888888;
}
@media screen and (max-width: 576px) {
  .proizvod{
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .proizvod{
    width: 50%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .proizvod{
    width: 33%;
  }
}
.drzacSlike{
  width: 100%;
  height: 80%;
  padding-top: 5px; 
  margin: 0 auto;
}
.drzacSlike img{
  width: 80%;
}
.drzacInfoProizvoda{
  display: flex;
  height: 20%;
  padding: 15px;
}
.leviW{
  width: 50%;
  height: 100%;
}
.leviW h3{
  font-weight: normal;
}
.cenaW{
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 0.9rem;
}
.kupiW{
  width: 50%;
  height: 100%;
}
.buttonKupi{
  margin: 0 auto;
  height: 50px;
  width: 120px;
  text-align: center;
  padding: 12px 7px 4px 7px;
  background-color: #009344;
  font-weight: bold;
  color: white;
  border: 1px solid lightgray;
}
#cardCont {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.card {
  background-color: white;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
}

.linkSlike img{
  width: 100%;
  height: 100%;
}

.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

.name {
  font-size: 24px;
  font-weight: 600;

  margin-top: 16px;
}

.kupiW a {
  border: none;
  padding: 12px 24px;
  float: right;

  font-weight: 600;
  color: #0077ff;
  border-radius: 5px;
  background-color: #e0efff;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.card__details {
  padding: 16px 8px 8px 8px;
  align-items: center; 
}

.card__details p{
  font-size: 1.2em;
  font-weight: bold;
  color: #009344;
}

.cenaW{
  text-align: right;
}
.card:hover{ 
  box-shadow: 1px 8px 20px grey;
}


/* Add style when button is focused or hovered */
.kupiW a:focus,
.kupiW a:hover {
  background-color: #009344;
  color: #e0efff;
  border-radius: 5px;
}
form{
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 14px;
}

#proizvodPaginacija{
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 20px;
}

.linkPagProizvoda{
  color: black;
  padding: 8px 8px;
  margin: 10px;
  align-self:stretch;
}

/*PROIZVODI*/

/*POSEBAN PROIZVOD PRIKAZ*/
#proizvodiPrikazProzor{
  width: 100%;
  height: 600px;
  margin: auto;
  padding-top: 30px;
  text-align: center;
  background-color: #e6e7e8;
}
#proizvodiPrikazProzor h2{
  font-size: 2.5em;
  font-weight: bold;
}
#slikaProizvodaZaPrikaz{
  height: 500px;
  padding-top: 20px;
}
#tekstPrikazProizvoda{
  padding-top: 5%;
}
#proizvodiPrikazProzor p{
  font-size: 2em;
}
#proizvodiPrikazProzor a{
  margin: 5px;
  width: 200px;
  height: 70px;
  background-color: #009344;
  border-radius: 2;
  font-size: 2em;
  color: white;
  padding: 10px;
}
/*POSEBAN PROIZVOD PRIKAZ*/

/*AUTOR*/
@media screen and (max-width: 576px) {
  #autor{
    width: 100%;
    height: 500px;
    background-color: white;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  #autor{
    width: 100%;
    height: 400px;
    background-color: white;
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  #autor{
    width: 100%;
    height: 350px;
    background-color: white;
  }
}
@media screen and (min-width: 1200px){
  #autor{
    width: 100%;
    height: 300px;
    background-color: white;
  }
}
#autorW{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
#autorSlika img{
  margin: 0 auto;
  width: 150px;
}
#autorTekst{
  padding-top: 20px;
}
/*AUTOR*/

/*FOOTER*/
footer{
  background-color: #e6e7e8;
}
@media screen and (max-width: 768) {
  footer{
    width: 100%;
    height: 30%;
    background-color: #e6e7e8;
    padding: 10px;
  }
}
@media screen and (min-width: 769px) {
  footer{
    width: 100%;
    height: 30%;
    background-color: #e6e7e8;
    padding: 10px;
  }
}
#footerLogo img{
  width: 90%;
  padding: 10px;
  margin: 0 auto;
}
#opisW{
  padding: 20px;
}
#linkoviW{
  text-align: center;
  padding: 20px;
}
#linkoviW a{
  padding: 10px;
}
/*FOOTER*/

/*ADMIN PANEL*/
.tabela{
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  color: #212529;
  border: 1px solid #212529;
  display: table;
}
.tabela tr:hover{
  background-color: rgba(0,0,0,.075);
}
.tabela tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}
.tabela tr th{
  margin: 0 auto;
  padding: 5px;
  font-size: 12px;
  border: 2px solid lightgray;
}
.dugmeAdm{
  padding: 10px;
  background-color: #009344;
  font-weight: bold;
  color: white;
  border: 1px solid lightgray;
  text-align: center;
}
#dodajProizvod{
  width: 200px;
  height: 50px;
  margin: 0 0 10px 10px;
  padding: 10px;
  background-color: #A1A4A6;
  font-weight: bold;
  color: white;
  border: 1px solid lightgray;
  text-align: center;
}
.drzacAdm{
  display: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 5;
  opacity: 1;
}
.admPozadina{
  width: 100%;
  height: 120%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}
.drzacAdm .row{
  z-index: 2;
  background-color: #FFFFFF;
  display: fixed;
  max-width: 1200px;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-color: #e6e7e8;
  border: 2px solid #6A6A6A;
}
.drzacAdm .row h2{
  margin: 0 auto;
  margin-bottom: 10px;
}
.drzacAdm .row form{
  max-height: 700px;
  margin: 0 auto;
  max-width: 500px;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/*ADMIN PANEL*/